/************
    RESET
************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/************
    BODY
************/
body {
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}
/************
    HEADER
************/
header {
    background-color: white;
    width: 100%;
    margin-bottom: 40px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    padding-left: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: middle;
}
/************
    MAIN
************/
.container {
    max-width: 900px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
}

.buttons {
    padding-left: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 45px;
    border-bottom: 3px solid  #F6F8F9;;
}


#task {
    padding: 2px 10px;
    display: inline-block;
    color: white;
    background-color: #45ABEA;
    border: 1px solid #45ABEA;
    border-radius: 8%;
    height: 25px;
}

#sezione {
    padding: 2px 10px;
    display: inline-block;
    color: grey;
    background-color: white;
    border: 1px solid grey;
    border-radius: 8%;
    height: 25px;
}

.to-do-list {
    padding-left: 40px;
    padding-top: 20px ; 
}

h3 {
    color: rgb(83, 81, 81);
}

.circle {
    vertical-align: middle;
    font-size: small;
    border-radius: 50%;
}

#vero {
    color: green;
    border: 1px solid green;
}

#falso {
    color: red;
    border: 1px solid red;
}

.label {
    color: white;
    padding-top: 10px 5px;
    padding: 2px 10px;
    height: 15px;
    font-size: 10px;
    vertical-align: bottom;

}

#editorial {
    background-color: #45ABEA;
    border: 1px solid #45ABEA;
    border-radius: 10px;
}

#q1-goals {
    background-color: #9C72E4;
    border: 1px solid #9C72E4;
    border-radius: 10px;
}

#recruiting {
    background-color: #64C0A9;
    border: 1px solid #64C0A9;
    border-radius: 10px;
}

#mobile {
    background-color: #F29E33;
    border: 1px solid #F29E33;
    border-radius: 10px;
}

#website {
    background-color: #D863A1;
    border: 1px solid #D863A1;
    border-radius: 10px;
}

#sales{
    background-color: #B0C926;
    border: 1px solid #B0C926;
    border-radius: 10px;
}
/************
    FOOTER
*************/