/************
    RESET
************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/************
    BODY
************/
body {
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}
/************
    HEADER
************/
header {
    background-color: white;
    width: 100%;
    margin-bottom: 40px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    padding-left: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: middle;
}
/************
    MAIN
************/
.container {
    max-width: 900px;
    margin: auto;
    background-color: white;
    border-radius: 10%;
    padding-left: 40px;
}

.button {
    padding-top: 12px;
    height: 40px;
    border-bottom: 1px solid #F6F8F9;
}

#task {
    padding: 2px 10px;
    display: inline-block;
    color: white;
    background-color: #45ABEA;
    border: 1px solid #45ABEA;
    border-radius: 8%;
    height: 25px;
}

#sezione {
    padding: 2px 10px;
    display: inline-block;
    color: grey;
    background-color: white;
    border: 1px solid grey;
    border-radius: 8%;
    height: 25px;
}
/************
    FOOTER
*************/